body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.masonry {
    column-count: 5; /* Number of columns */
    column-gap: 20px; /* Gap between columns */
    margin: 20px; /* Margin around the masonry container */
}

.item {
    break-inside: avoid; /* Prevent column breaks inside items */
    background-color: #fff;
    margin: 0 0 20px; /* Margin around each item */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 560px) {
    .masonry {
        column-count: 1;
    }
}

@media only screen and (min-width:560px) {
    .masonry {
        column-count: 2;
    }
}

@media only screen and (min-width:720px) {
    .masonry {
        column-count: 3;
    }
}

/* Media query for 720px to 1020px  */
@media only screen and (min-width:1020px) {
    .masonry {
        column-count: 4;
    }
}

/* Media query for 1020px to 1440px  */
@media only screen and (min-width:1440px) {
    .masonry {
        column-count: 5;
    }
}